APP_URL=http://localhost:3000
SUPABASE_URL="https://wdyuabqcjshktkuyaquk.supabase.co"
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkeXVhYnFjanNoa3RrdXlhcXVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5MTQ1NDYsImV4cCI6MjA5ODQ5MDU0Nn0.sbOw2rc_5SPII600U02lISi74tqU5vKub7w9kQd-Z08

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndkeXVhYnFjanNoa3RrdXlhcXVrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjkxNDU0NiwiZXhwIjoyMDk4NDkwNTQ2fQ.5Sic2KEvgHNx6AyktGmKjUacte2JhiNeUO3HKayybUU

PAYSTACK_PUBLIC_KEY=pk_live_9bf1619454c1d1f8df40e304486d7489b76e8182
PAYSTACK_SECRET_KEY=sk_live_c5e530bb2f4dda6a4618eac61276431be09be161
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_live_9bf1619454c1d1f8df40e304486d7489b76e8182
META_PIXEL_ID=
META_CAPI_ACCESS_TOKEN=
EMAIL_API_KEY=
ADMIN_USERNAME=admin
ADMIN_SECRET=MyAdminPass123!

