APP_URL=http://localhost:3000
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
META_PIXEL_ID=
META_CAPI_ACCESS_TOKEN=
EMAIL_API_KEY=
ADMIN_USERNAME=
ADMIN_SECRET=

